.containerZ{
  display: block;
  width: 100%;
}
.container-cart{
  display: flex;
}

.cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 25px 0;
  }
  
  .cart-items .cart-details {
    width: 70%;
  }
  .buttonShop{
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  .buttonShop p{
    width: 100%;
  }
  .buttonShop button{
    width: 100%;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  
  }
  
  .cart-items .cart-total {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    
  }
  .cart-list {
    background: white;
    margin-top: 30px;
  }
  .cart-items .img {
    width: 150px;
    height: 150px;
  }
  .cart-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cart-items .cart-details h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
  }
  .cart-items .cart-details h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    color: grey;
  }
  .cart-items h2 {
    font-size: 25px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 10%;
  }
  .cart-items h4 span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
  }
  .removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
  }
  .cartControl {
    margin-top: 50px;
  }
  .cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  .incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
  }
  .desCart {
    background: #f6f9fc;
  }
  .cart-total h4 {
    font-size: 20px;
    font-weight: 500;
  }
  .cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
  }
  .cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
  }
  .no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
  }
  .titleCart{
    font-size: 30px;
      padding: 0 10px;
      margin-top: 0;
      text-align: center;
  }
  @media (max-width: 768px){
    .container-cart{
      display: block;
    }
    .titleCart{
      font-size: 30px;
      padding: 0 10px;
      margin-top: 0;
      text-align: center;
    }
    .d_flex{
      display: block;
    }
    .cart-list{
      display: flex;
    }
    .cart-items .cart-details{
      width: 100%;
      padding: 10px;
      align-items: center;
      text-align: center;
    }
    .cart-items .cart-details h4{
      margin-top: 10px;
    }
    .cart-items{
      width: 100%;
      padding: 0;
      
    }
    .cart-items .img{
      width: 100%;
    }
    .cartControl{
      display: flex;
      margin-top: 5px;
    }
    .cartControl h2{
      margin-top: 10px;
    }
    .cart-items .cart-total{
      width: 100%;
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    .mobile{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }
    .buttonShop{
      width: 100%;
      padding: 10px;
    }
    .buttonShop p{
      width: 100%;
    }
    .buttonShop button{
      width: 100%;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    }
  }